@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

.container-background{
  background-image: url(./../public/assets/img/bg-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.container-blur{
  background-color: rgba(90, 90, 90, 0.15);  
  backdrop-filter: blur(10px);
}

.form-control::placeholder{
  color: #FFF
}

.form-control:focus{
  box-shadow: none;
}

.container-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  row-gap: 10px ;
  column-gap: 15px;
  place-content: center;
  align-content: center;
}
nav .navbar-icon{
  width: 40px;
}
nav .navbar-collapse.collapse{
  display: block;
  transition: .5 all ease-in-out;
  height: 0 !important;
}
@media (max-width: 991px){
  nav .navbar-collapse.collapse{
    overflow: hidden;
  }
  nav .navbar-collapse.active{
    height: 230px !important;
    transition: .5 all ease-in-out;
  }
}